
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Blog</h3>
							<nav>
								<ul class="nav masthead-nav">
									<li><a href="#/">Home</a></li>
									<li><a href="#/work">Work</a></li>
									<li><a href="#/contact">Contact</a></li>
									<li class="active"><a href="#/blog">Blog</a></li>

								</ul>
							</nav>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading"> test </h1>

						<div class="panel panel-metafora">
  							<div class="panel-body">
  								
  								<div class="container-fluid marketing">

	  							<img class="img-circle" ng-src="{{blogs[0].image}}" alt="Metafora" >
  								<h3>{{blogs[0].title}}</h3>
								</div>
  							</div>
						</div>

					<div class="mastfoot">
						<div class="inner">
						</div>
					</div>
				</div>
			</div>
		</div>