
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Blog</h3>
							<nav>
								<ul class="nav masthead-nav">
									<li><a href="#/">Home</a></li>
									<li><a href="#/work">Work</a></li>
									<li class="active"><a href="#/blog">Blog</a></li>
									<li><a href="#/contact">Contact</a></li>
									
								</ul>
							</nav>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading">  </h1>

						<div class="panel panel-blog">
  							<div class="panel-body">
  								
  								<div class="container-fluid marketing">

		  							<img class="img-responsive" ng-src="{{blogs[0].image}}" alt="Metafora" >
	  								
	  								<h3>{{blogs[0].title}}</h3>
	  								<p><b>{{blogs[0].date}}</b> - If you're reading this you're interested in computer vision, or you're stalking me. Either way, over the next few weeks/months/years I am going to be posting blogs on OpenCV as I continue to self-teach myself about computer vision. If you're able to learn something from these blogs, great! Otherwise, thanks for stopping by. Let's get started.</p>
	  								<br/>
	  								<p>We're going to be working with OpenCV to create a simple program that utilizes Haar Cascades to find and track faces through our camera. We're assuming that you've already gone through the always fun process of building OpenCV on your machine and are ready to start using its libraries and dependancies in your IDE of choice. OpenCV allows you to use Python just as easily, but I'm going to be working with C++ and Xcode out of preference.</p>
	  								
	  								<pre class="prettyprint lang-cpp"><code>
#include "opencv2/objdetect/objdetect.hpp"
#include "opencv2/highgui/highgui.hpp"
#include "opencv2/imgproc/imgproc.hpp"

#include <iostream>
#include <stdio.h>


int main()
{
    
    //Try to capture frames with our webcam. If we can't, we close.
    cv::VideoCapture wc;
    
    if(!wc.open(0))
        return 0;
    
    //Set up our Haar Cascade.
    cv::CascadeClassifier frontal_face_cascade;
    frontal_face_cascade.load("/Users/benkrig/opencv/opencv/data/haarcascades/haarcascade_frontalface_alt2.xml");
    
    //To store our individual webcam frames.
    cv::Mat frame;
    
    //finished initializing, now we start scanning for faces.
    for(;;)
    {
        wc >> frame;
        
        //.clone() current frame
        cv::Mat original = frame.clone();
        
        // Convert the current frame to grayscale:
        cv::Mat g_value;
        cvtColor(original, g_value, CV_BGR2GRAY);
        // Find the faces in the frame:
        std::vector< cv::Rect_<int> > faces;
        frontal_face_cascade.detectMultiScale(g_value, faces);
        
        //Draw rect around each face
        for(int i = 0; i < faces.size(); i++)
        {
            // Process face by face:
            cv::Rect face_i = faces[i];
            
            rectangle(original, face_i, CV_RGB(0, 255,0), 1);
            
            //add text
            int pos_x = std::max(face_i.tl().x - 10, 0);
            int pos_y = std::max(face_i.tl().y - 10, 0);
            putText(original, "Face " + std::to_string(i), cv::Point(pos_x, pos_y), cv::FONT_ITALIC, 1.0, CV_RGB(0,255,0), 2.0);
        }
        
        //show window
        imshow("facial_recognition", original);
        
        //27 == Escape key
        char key = (char) cv::waitKey(20);
        if(key == 27)
            break;
    }
    cv::waitKey(0);
    
    return 0;
}</code></pre>
								</div>
  							</div>
						</div>

						<div class="mastfoot">
							<div class="inner">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>