
		<div class="site-wrapper">
			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Ben Krig</h3>
							<nav >
								<ul class="nav masthead-nav">
									<li ><a href="#/">Home</a></li>
									<li><a href="#/work">Work</a></li>
									<li class="active"><a href="#/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<!-- header
						<div class="inner cover">
						<h1 class="cover-heading">Contact Ben</h1>
						<p class="lead">Send me an email</p>
						<p class="lead">
						-->
							<a href="mailto:benjaminjkrig@gmail.com" class="btn btn-lg btn-default">benjaminjkrig@gmail.com</a>
						</p>
			 		 </div>

					<div class="mastfoot">
						<div class="inner">
							<p>{{copyRight}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>