<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand"><img class="img" border="0" alt="ben" src="images/benlogo.png">Ben Krig</h3>
					<nav class = "navbar navbar-default navbar-static-top">
						<ul class="nav masthead-nav">
							<li class="active"><a href="#/">Home</a></li>
							<li><a href="#/work">Work</a></li>
							<li><a href="#/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="inner cover">				 	
				<!--<h1 class="cover-heading">Check me out!</h1>-->
				<p class="lead">San Jose, CA. based software solutions</p>
				<div class="row">
					<div class="col-lg-4">
					</div>
					<div class="col-lg-1">
						<a href="http://www.github.com/benkrig" target="_blank">
							<img class="img-circle" border="0" alt="ben@github" src="images/github/PNG/GitHub-Mark-Light-64px.png">
						</a>
					</div>
					<div class="col-lg-1">
						<a href="http://stackexchange.com/users/5756732/ben-krig" target="_blank">
							<img class="img-circle" border="0" alt="ben@stackoverflow" src="images/so-icon.png">
						</a>
					</div>
					<div class="col-lg-1">
						<a href="https://www.linkedin.com/pub/ben-krig/b5/456/5a" target="_blank">
							<img class="img" border="0" alt="ben@linkedin" src="images/In-2C-128px-TM.png">
						</a>
					</div>
					<div class="col-lg-1">
						<a href="mailto:benjaminjkrig@gmail.com" target="_blank">
							<img class="img-circle" border="0" alt="ben@gmail" src="images/googlemail-128.png">
						</a>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
	 		 </div>
			
		</div>
	</div>
</div>