
		<div class="site-wrapper">
			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Work</h3>
							<nav >
								<ul class="nav masthead-nav">
									<li ><a href="#/">Home</a></li>
									<li class="active"><a href="#/work">Work</a></li>
									<li><a href="#/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading">  </h1>
						<div>
							<carousel interval="myInterval">
								<slide ng-repeat="slide in slides" active="slide.active">
									<img ng-src="{{slide.image}}">
									<div class="carousel-caption">
										<h4>Slide {{$index+1}}</h4>
									</div>
								</slide>
							</carousel>
						</div>


						<div class="container marketing">
							<!-- Three columns of text below the carousel -->
							<div class="row">
								<div class="col-lg-4">
									<img class="img-circle" src="images/metafora.png" alt="Generic placeholder image" >
									<h2>Metafora</h2>
									<p>Public transportation is outdated. We get texts, updates, and news in seconds, but we can't even tell if our bus is early or on time. That's a problem, and Metafora is solving it for the rider and also for the transportation provider.</p>
									<p><a class="btn btn-default" href="http://www.metafora.co/" target="_blank" role="button" style="width: 100% ! important;">Go</a></p>
								</div><!-- /.col-lg-4 -->
								<div class="col-lg-4">
									<img class="img-circle" src="images/here2there.png" alt="Generic placeholder image" href="http://here2there.herokuapp.com/" target="_blank">
									<h2>Here2There</h2>
									<p>Here2There is a light-weight web application for Salesforce.org Metadata migration, backups, and storage. It combines a lightweight AngularJS front-end interface with a powerful Node.js back-end for fast movement of your Salesforce.org Metadata.</p>
									<p><a class="btn btn-default" href="http://here2there.herokuapp.com/" target="_blank" role="button" style="width: 100% ! important;">Go</a></p>
								</div><!-- /.col-lg-4 -->
								<div class="col-lg-4">
									<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" >
									<h2>Other</h2>
									<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
									<p><a class="btn btn-default" href="#" role="button" style="width: 100% ! important;">Go</a></p>
								</div><!-- /.col-lg-4 -->
							</div>
							
						</div>

					<div class="mastfoot">
						<div class="inner">
						</div>
					</div>
				</div>
			</div>
		</div>