
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Work</h3>
							<nav >
								<ul class="nav masthead-nav">
									<li ><a href="#/">Home</a></li>
									<li class="active"><a href="#/work">Work</a></li>
									<li><a href="#/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading">  </h1>
						<div>
							<carousel class="carousel-margins" interval="myInterval">
								<slide ng-repeat="slide in slides" active="slide.active">
									<img class="img-responsive" ng-src="{{slide.image}}">
								
								</slide>
							</carousel>
						</div>

						<div class="panel panel-metafora">
  							<div class="panel-body">
  								
  								<div class="container-fluid marketing">
  									<div class ="row">
  										<div class="col">
  											<img class="img-responsive" src="images/benlogo.png">
  										</div>
  										<div class="col">
  										</div>
  										<div class="col">
  											
  										</div>
  									</div>
	  								<img class="img-circle" src="images/metafora.png" alt="Metafora" >
  								<h3>Easy to use Android application for navigation within Silicon Valley using public transportation (VTA). Simple interface, powerful functionality. Metafora makes use of live locations and feeds for lightrails and buses to give users a unique transit experience.</h3>
								</div>
  							</div>
						</div>

						<div class="panel panel-here2there">
  							<div class="panel-body">
  								
  								<div class="container-fluid marketing">
	  								<img class="img-circle" src="images/here2there.png" alt="Generic placeholder image" href="http://here2there.herokuapp.com/" target="_blank">
  									<h3>Here2There is a light-weight web application for Salesforce.org Metadata migration, backups, and storage. It combines a lightweight AngularJS front-end interface with a powerful Node.js back-end for fast movement of your Salesforce.org Metadata.</h3>
								</div>
  							</div>
						</div>

						<div class="panel panel-metafora">
  							<div class="panel-body">
  								
  								<div class="container-fluid marketing">
	  								<img class="img-circle" src="images/benlogo.png" alt="Logo" >
  									<h3>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</h3>
								</div>
  							</div>
						</div>

					<div class="mastfoot">
						<div class="inner">
						</div>
					</div>
				</div>
			</div>
		</div>